{% extends "base.html" %}
{% block title %}Cadastrar de solicitação{% endblock %}
{% block content %}
    <div class="container container-cadastro-solicitacao">
        <h2>Cadastro de Solicitação de Compra</h2>
        <form id="requestForm" action='cadastraSolicitacao' method='post'>
            <label for="requester">Nome da Solicitação:</label>
            <input type="text" id="requester" name='nome' class="padrao-input" required>

            <label for="setor">Setor:</label>
            <select id="setor" name="setor" class="padrao-input">
                <option value="0"></option>
                {% for setor in setores %}
                <option value="{{ setor['id_setor'] }}">{{ setor['nome_setor']}}</option>
                {% endfor %}
            </select>
            <div id="inputsContainer">
                <div>
                    <label for="produto1">Produto 1:</label>
                    <input type="text" id="produto1" name="produto1" class="produto"  required>

                    <label for="quantidade1">Quantidade:</label>
                    <input type="number" id="quantidade1" name='quantidade1' class="quantidade" min="1"  required>
                </div>
            </div>
            <button type="button" class="btn-adicionar" onclick="adicionarInput()">
                ➕ Adicionar Produto
            </button>
            <br>
            <label for="priority">Nível de Prioridade:</label>
            <select id="priority" name='prioridade' class="padrao-input" required>
                <option value="Baixa">Baixa</option>
                <option value="Média">Média</option>
                <option value="Alta">Alta</option>
            </select>

            <button type="submit" class="btn-solicitar padrao-input">Enviar Solicitação</button>
        </form>
    </div>

{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/cadastroSolicitacao.js') }}"></script>
{% endblock %}

