{% extends "base.html" %}
{% block title %}Lista de Pedidos{% endblock %}
{% block content %}
    <div class="container">
        <h2>Solicitações do Usuário</h2>
        <div class="btn-container">
            <button class="btn-solicitar" onclick="novaSolicitacao()">Nova Solicitação</button>
        </div>
        <table id="userRequests">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome Solicitação</th>
                    <th>Setor</th>
                    <th>Prioridade</th>
                    <th>Status</th>
                    <th>Data</th>
                    <th>Ação</th>

                </tr>
            </thead>
            <tbody>
                {% for pedido in  pedidos %}
                    <tr>
                        <td>{{pedido['id_solicitacao']}}</td>
                        <td>{{pedido['nome_solicitacao']}}</td>
                        <td>{{pedido['nome_setor']}}</td>
                        <td>{{pedido['prioridade_solicitacao']}}</td>
                        <td>{{pedido['status_solicitacao']}}</td>
                        <td>{{pedido['data_solicitacao']}}</td>
                        <td>
                            <span class="detalhes" onclick="verDetalhes({{pedido['id_solicitacao']}})">Detalhes</span>
                        </td>
                    </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/solicitacoesCompra.js') }}"></script>
{% endblock %}
