
{% extends "base.html" %}
{% block title %}Cadastrar Usuário{% endblock %}
{% block content %}
    <div class="container container-cadastro-solicitacao">
        <h2>Cadastro de Usuário</h2>

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
            <p style="color:red;">{{ message }}</p>
        {% endfor %}
        {% endwith %}
        <form method="POST" action="{{ action_url }}">
            <label for="nome">Nome:</label>
            <input type="text" name="nome" id="nome" class="padrao-input" value="{{ usuario.nome_usuario if usuario else '' }}" required>
            <br>
            <label>Email:</label>
            <input type="email" name="email" id="email" class="padrao-input" value="{{ usuario.email_usuario if usuario else '' }}" required>
            <br>
            <label>Senha:</label>
            <div class="input-senha">
                <input type="password" name="senha" id="senha" class="padrao-input" required>
                <div class="toggle-password" toggle="#senha"><img src="{{ url_for('static', filename='visivel.png') }}" alt="visible"></div>
            </div>
            <br>
            <label>Confirmar Senha:</label>
            <div class="input-senha">
                <input type="password" name="confirmar_senha" id="confirmar_senha" class="padrao-input" required>
                <div class="toggle-password" toggle="#confirmar_senha"><img src="{{ url_for('static', filename='visivel.png') }}" alt="visible"></div>
            </div>
            <br>
            <label>Nível:</label>
            {% set is_user_selected = usuario and usuario.nivel_usuario == 'usuario' %}
            <select name="nivel" id="nivel" class="padrao-input">
                <option value="administrador">Administrador</option>
                <option value="usuario" {% if is_user_selected %}selected{% endif %}>Usuário</option>
            </select>
            <button type="submit" class="btn-solicitar padrao-input">
                {{ 'Salvar Alterações' if usuario else 'Registrar' }}
            </button>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/cadastroUsuarios.js') }}"></script>
{% endblock %}