{% extends "base.html" %}
{% block title %}Lista de Pedidos{% endblock %}
{% block content %}
    <div class="container container-cadastro-solicitacao">
        <h2>Detalhes do Pedido</h2>
        <br>
        {% for solicitacao in solicitacao %}
            <div class="info">
                <strong>Nome do funcionário:</strong>
                <span id="nome-usuario">{{ solicitacao.nome_usuario }}</span>
            </div>

            <div class="info">
                <strong>Nome da solicitação:</strong>
                <span id="nome-solicitacao">{{ solicitacao.nome_solicitacao }}</span>
            </div>
            <div class="info">
                <strong>Data:</strong>
                <span id="data">{{ solicitacao.data_solicitacao }}</span>
            </div>
            <div class="info">
                <strong>Setor:</strong>
                <span id="setor">{{ solicitacao.nome_setor }}</span>
            </div>
            <div class="info">
                <strong>Prioridade:</strong>
                <span id="prioridade">{{ solicitacao.prioridade_solicitacao }}</span>
            </div>
            <div class="info">
                <strong>Status:</strong>
                <span id="status">{{ solicitacao.status_solicitacao }}</span>
            </div>
        {% endfor %}
        <h3>Lista de Produtos</h3>
        <table>
            <thead>
                <tr>
                    <th>Produto</th>
                    <th>Quantidade</th>
                </tr>
            </thead>
            <tbody id="lista-produtos">

                {% for produtos in  produtos %}
                    <tr>
                        <td>{{produtos['nome_produto']}}</td>
                        <td>{{produtos['quantidade_produto']}}</td>

                    </tr>
                {% endfor %}

            </tbody>
        </table>
        {% if session.nivel == 'administrador' %}
            <br>
            {% for solicitacao in solicitacao %}
            <form id="requestForm" action='/editarStatusSolicitacao/{{ solicitacao.id_solicitacao }}' method='post'>
            {% endfor %}
                <label for="statusPedido">Editar Status do pedido:</label>
                <br>
                <select id="statusPedido" name='status' class="padrao-input status-pedido" required>
                    <option value="Solicitado">Solicitado</option>
                    <option value="Aprovado">Aprovado</option>
                    <option value="Aguardando Entrega">Aguardando Entrega</option>
                    <!--<option value="Recebido">Recebido</option>-->
                    <option value="Cancelado">Cancelado</option>
                </select>
                {% for solicitacao in solicitacao %}
                    <button
                        type="submit"
                        class="btn-editar-solicitacao padrao-input status-pedido"
                        {% if solicitacao.status_solicitacao=='Recebido' %}disabled="disabled"{% endif %}
                    >
                        Mudar Status
                    </button>

                    <button
                        type="button"
                        class="btn-receber-solicitacao padrao-input"
                        onclick="receber({{ solicitacao['id_solicitacao'] }})"
                        {% if solicitacao.status_solicitacao=='Recebido' %}disabled="disabled"{% endif %}
                    >
                        Receber
                    </button>
                {% endfor %}

            </form>
        {% endif%}
    </div>

{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/detalhesSolicitacao.js') }}"></script>
{% endblock %}
