{% extends "base.html" %}
{% block title %}Receber Pedido{% endblock %}
{% block content %}
    <h1>Receber Pedido</h1>

    <div class="container container-cadastro-solicitacao">
        {% for solicitacao in solicitacao %}
            <div class="info">
                <strong>Nome do funcionário:</strong>
                <span id="nome-usuario">{{ solicitacao.nome_usuario }}</span>
            </div>

            <div class="info">
                <strong>Nome da solicitação:</strong>
                <span id="nome-solicitacao">{{ solicitacao.nome_solicitacao }}</span>
            </div>
            <div class="info">
                <strong>Data da Solicitacao:</strong>
                <span id="data">{{ solicitacao.data_solicitacao }}</span>
            </div>
            <div class="info">
                <strong>Setor:</strong>
                <span id="setor">{{ solicitacao.nome_setor }}</span>
            </div>
            <div class="info">
                <strong>Prioridade:</strong>
                <span id="prioridade">{{ solicitacao.prioridade_solicitacao }}</span>
            </div>
            <div class="info">
                <strong>Status:</strong>
                <span id="status">{{ solicitacao.status_solicitacao }}</span>
            </div>
        {% endfor %}
        <form id="form-recebimento" action="{{ action_url }}" method="post">
            <div class="info">
                <strong>Data de Recebimento:</strong>
                <input type="date" name="data_recebimento" class="padrao-input">
            </div>
            <h3>Lista de Produtos</h3>
            <table>
                <thead>
                    <tr>
                        <th>Produto</th>
                        <th>Quantidade</th>
                        <th>Preço Unitário (R$)</th>
                        <th>Excluir</th>
                    </tr>
                </thead>
                <tbody id="lista-produtos">
                    {% for produto in produtos %}
                        <tr>
                            <td><input type="text" class="padrao-input" name="produto{{ produto['id_produto'] }}" value="{{ produto['nome_produto'] }}" ></td>
                            <td>
                                <input type="text" class="padrao-input" name="quantidade{{ produto['id_produto'] }}" value="{{ produto['quantidade_produto'] }}" min="0">
                            </td>
                            <td>
                                <input type="text" class="padrao-input" name="preco{{ produto['id_produto'] }}" value="{{ produto.get('preco_produto', '') }}" placeholder="0.00">
                            </td>
                            <td>
                                <button type="button" class="btn-remover-produto">x</button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button type="button" id="adicionar-produto" class="btn-adicionar-produto padrao-input">
                + Adicionar Produto
            </button>
            <div>
                <strong>Valor Frete (R$):</strong>
                <input type="text" name="valor_frete" id="valor-frete" class="padrao-input" placeholder="0.00">
            </div>
            <br>
            <div>
                <strong>Valor Total do Pedido (R$):</strong>
                <input type="text" name="valor_total" id="valor-total" class="padrao-input" placeholder="0.00">
            </div>
            <br>
            <div>
                <strong>Observações:</strong>
                <textarea type="text" name="observacao" id="observacao" class="padrao-input observacao-pedido"></textarea>
            </div>
            <button type="submit" class="btn-receber-solicitacao padrao-input">Gravar Recebimento</button>
        </form>
    </div>

{% endblock %}
{% block scripts %}
    <script>
        const contadorProdutoInicial = {{ produtos | map(attribute='id_produto') | max if produtos else 0 }};
    </script>

    <script src="{{ url_for('static', filename='js/receberSolicitacao.js') }}"></script>
{% endblock %}
