{% extends "base.html" %}
{% block title %}Lista de Setores{% endblock %}
{% block content %}
    <div class="container">
        <h2>Setores</h2>
        <div class="btn-container">
            <button class="btn-solicitar" onclick="novoSetor()">Novo Setor</button>
        </div>
        <div class="filtro-container">
            <div class="input-com-icone">
                <i class="fas fa-search"></i>
                <input type="text" class="filtroTabela" data-tabela="setores" placeholder="Filtrar setores..." onkeyup="filtrarTabela(this)" />
            </div>
        </div>
        <table id="setores">
            <thead>
                <tr>
                    <th class="ordenavel" data-coluna="0">ID</th>
                    <th class="ordenavel" data-coluna="1">Nome</th>
                    <th>Excluir</th>
                    <th>Editar</th>
                </tr>
            </thead>
            <tbody>
                {% for setor in setores %}
                    <tr>
                        <td>{{setor['id_setor']}}</td>
                        <td>{{setor['nome_setor']}}</td>
                        <td>
                            <span class="excluir" onclick="abrirModal({{setor['id_setor']}})">Excluir</span>
                        </td>
                        <td>
                            <span class="detalhes" onclick="editarSetor({{setor['id_setor']}})">Editar</span>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="modal" id="meuModal">
            <div class="modal-content">
                <p>Você tem certeza que deseja excluir este setor?</p>
                <div class="modal-buttons">
                    <button class="btn-cancelar" onclick="fecharModal()">Cancelar</button>
                    <button class="btn-confirmar" onclick="excluirSetor()">Sim, excluir</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/setores.js') }}"></script>
    <script src="{{ url_for('static', filename='js/filtroTabelas.js') }}"></script>
{% endblock %}
